[Desktop Entry]
Type=Service
Name=Run It!
MimeType=application/x-shellscript
Icon=org.kde.konsole
Actions=RunIt

[Desktop Action RunIt]
Name=Run In Konsole (nohold)
Name[fr]=Lancer dans Konsole (nohold)
Name[de]=In Konsole ausführen (nohold)
Name[nl]=Uitvoeren in Konsole (nohold)
Icon=org.kde.konsole
Exec=bash -c 'konsole_avails=($(type -p konsole) "flatpak run org.kde.konsole"); konsole_command="${konsole_avails[0]}"; $konsole_command -e "%f"'
